obd==0.7.2
Pint==0.20.1
pyserial==3.5
requests==2.32.3
PyQt6>=6.0.0
pygame>=2.0.0
psutil
# Optional dependencies
# rpi-rf>=0.9.7
# RPi.GPIO>=0.7.0
# yt-dlp>=2023.3.4
# Added for process check to prevent multiple app instances
