obd==0.7.3
pyserial==3.5
requests==2.32.3
PyQt6>=6.0.0
PyQt6-WebEngine>=6.0.0
pygame>=2.0.0
psutil
dbus-python
pygame
yt-dlp>=2023.3.4
mutagen>=1.46.0
gpiozero>=2.0
RPi.GPIO>=0.7.1
# Optional dependencies
# rpi-rf>=0.9.7
# Added for process check to prevent multiple app instances
