[Unit]
Description=Hide Console and Prepare for GUI
DefaultDependencies=no
Before=rpi-infotainment.service

[Service]
Type=oneshot
ExecStart=/home/pi/rpi_car_infotainment/scripts/clear-framebuffer.sh
RemainAfterExit=yes

[Install]
WantedBy=basic.target
