[Unit]
Description=Disable Console Output and Switch to Graphics Mode
After=hide-console.service
Before=rpi-infotainment.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'echo 0 > /sys/class/graphics/fbcon/cursor_blink 2>/dev/null || true'
ExecStart=/bin/bash -c 'for vt in /dev/tty[1-6]; do echo -e "\\033[?25l" > "$vt" 2>/dev/null || true; done'
RemainAfterExit=yes

[Install]
WantedBy=basic.target
